.description {
    p {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    ul {
        margin-bottom: 16px;

        li {
            padding-left: 30px;
            margin-bottom: 10px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 10px;
                left: 10px;
                width: 6px;
                height: 6px;
                transform: rotate(45deg);
                background-color: #2C702C;
                border-radius: 2px;
                display: block;
            }

            ul {
                margin-top: 16px;
            }
        }
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    @media (max-width: 768px) {

        h2,
        h3 {
            font-size: 18px;
        }
    }
}